.app-nav {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;  
  background-color: var(--blue);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--white);
  height: 40px;
}

.app-nav svg {
  position: absolute;
  left: 20px;
  top:50%;
  transform: translate(-50%, -50%);
}

nav + div {
  height: 40px;
}
