.rstm-toggle-icon {
  display: inline-block;
}

.rstm-toggle-icon-symbol {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.rstm-tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid #ccc;
  text-align: left;
  width: 100%;
}

.rstm-tree-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #333;
  background: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative;
  margin:.5em;
}

.rstm-tree-item--active {
  color: white;
  background: chocolate;
  border-bottom: none;
}

.rstm-tree-item {
  color: white;
  font-size: 16px;
  /* background: #179ed3; */
  border-bottom: none;
  padding: .3em;
}

.rstm-tree-item--focused {
  box-shadow: 0 0 5px 0 #222;
  z-index: 999;
}

.rstm-search {
  display: none;
}

.rstm-tree-item:has(div) {
  background-color: chocolate;
}
